h2 {
    font-family: "Roboto", sans serif;
    font-weight: 100;
    color: black;
}

logo {
    margin-top: 20px;
    width: 50%;
    height: auto;
}

.google-maps {
    position: relative;
    padding-bottom: 75%; /*This is the aspect ratio*/
    height: 0;
    overflow: hidden;
}

.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

.side-nav li{
    line-height: normal;
}

.side-nav {
    background-color: teal;
}